<!-- @if (plants$ | async; as plants) {
	<table>
	  <thead>
		<tr>
		  <th>Garden Plot 1</th>
		</tr>
	  </thead>
	  <tbody>
	  <tbody>
	  <tbody>
		@for (plant of plants; track plant.id) {
		  <tr>
			<td>{{ plant.id }}</td>

			</td>			
			<td>
				<button (click)="routeToPlot(plant.id)">Plant Details</button>
			</td>
			<td>
				<button (click)="updatePlant(plant.id, ticket)">Update Plant</button>
			</td>
			<td>
				<button (click)="deletePlant(plant.id)">🗑️</button>
			</td>
			<td>
				<button (click)="addPlant(plant.id)">🌱</button>
			</td>
		  </tr>
		}
	  </tbody>
	</table>
  } @else { 
	<div>
	  <h2>Loading plants...</h2>
	</div>
  } -->
