<h2>Here are all your plants! You're doing great!</h2>

<mat-tab-group>
	<mat-tab label="Plot One"> 
	<table>
		<tr>
			<th colspan="5">Garden Plot 1</th>
		</tr>
		@if (plots$ | async; as plots) 
		{
			<tr>
				@for (plotItem of plots | slice: 0 :5; track plotItem.id) 
				{
					<td>
						<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
						<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
					</td>
				}
			</tr>
			<tr>
				@for (plotItem of plots | slice: 5 :10; track plotItem.id) 
				{
					<td>
						<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
						<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
					</td>
				}
			</tr>
			<tr>
				@for (plotItem of plots | slice: 5 : 10; track plotItem.id) 
				{
					<td>
						<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
						<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
					</td>
				}
			</tr>
			<tr>
				@for (plotItem of plots | slice: 15 :20; track plotItem.id) 
				{
					<td>
						<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
						<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
					</td>
				}
			</tr>
		}
	</table>
</mat-tab>
<mat-tab label="Plot Two"> 
	<table>
		<tr>
			<th colspan="5">Garden Plot 2</th>
		</tr>
		@if (plots$ | async; as plots) 
		{
			<tr>
				@for (plotItem of plots | slice: 20 :25; track plotItem.id) 
				{
					<td>
						<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
						<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
					</td>
				}
			</tr>
		<tr>
			@for (plotItem of plots | slice: 25 :30; track plotItem.id) 
			{
				<td>
					<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
					<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
				</td>
			}
		</tr>
		<tr>
			@for (plotItem of plots | slice: 30 :35; track plotItem.id) 
			{
				<td>
					<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
					<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
				</td>
			}
		</tr>
		<tr>
			@for (plotItem of plots | slice: 35 :40; track plotItem.id) 
			{
				<td>
					<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
					<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
				</td>
			}
		</tr>
	}
	</table>
</mat-tab>
<mat-tab label="Plot Three"> 
	<table>
		<tr>
			<th colspan="5">Garden Plot 3</th>
		</tr>
		@if (plots$ | async; as plots) 
		{
			<tr>
				@for (plotItem of plots | slice: 40 :45; track plotItem.id) 
				{
					<td>
						<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
						<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
					</td>
				}
			</tr>
		<tr>
			@for (plotItem of plots | slice: 45 :50; track plotItem.id) 
			{
				<td>
					<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
					<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
				</td>
			}
		</tr>
		<tr>
			@for (plotItem of plots | slice: 50 :55; track plotItem.id) 
			{
				<td>
					<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
					<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
				</td>
			}
		</tr>
		<tr>
			@for (plotItem of plots | slice: 55 :60; track plotItem.id) 
			{
				<td>
					<span></span>{{plotItem.plotSpace}}. {{ plotItem.plantName }}<br>
					<button mat-button (click)="routeToPlotItem(plotItem.id)">Update🌱</button>
				</td>
			}
		</tr>
	}
	</table>
</mat-tab>
</mat-tab-group>