
table{
    justify-content: center;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    width: 700px;
    height:700px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(75, 120, 73);
  }
     
td {
    align-items: center;
    font-family:'Motnserrat',sans-serif;
    text-align: left;
    font-size: 20px;
    padding: 9px;   
  }
  
th {
    background-color: #e8f0f9;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
  }
::ng-deep .mdc-tab.mdc-tab--active{
    background-color: rgb(255, 255, 255) !important;
    font-weight: 900;
    
  }
::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: black !important;
}
::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: black !important;
}