

<main>
  <h1>Gardner's Journal</h1>
  <p>This is where you will track your progress.</p>
  <a [routerLink]="'/journalform/'">Add entry ➕</a> 
  @if (journals$ | async; as journals) 
  {
    <div class="card" *ngFor="let item of journals; index as i;">
      <header>
       <span class="card-title">
        {{ item.date | date:"shortDate" }} <button (click)="deleteJournal(item.id)"> ❌ </button>
       </span>
      </header>
      <p class="card-text">{{ item.notes }}</p>
      <p class="card-text">- {{ item.gardener }}</p>
     </div>
  }
</main>