<h1>Gardner's Journal</h1>
<h2>Keep track of your progress here.</h2>

<div>
  <label>Date:</label>
  <input type="date" [(ngModel)]="newJournal.date">
</div>
<div>
  <label>Gardener:</label>
  <input type="text" [(ngModel)]="newJournal.gardener">
</div>
<div>
  <label>Notes:</label>
  <textarea [(ngModel)]="newJournal.notes"></textarea>
</div>
<button (click)="createJournal()">Create Entry</button>

<hr>

<h2>Journal Entries</h2>

<ul *ngIf="journals$ | async as journals">
  <li *ngFor="let journal of journals">
    <span>Date: {{ journal.date }}</span><br>
    <span>Gardener: {{ journal.gardener }}</span><br>
    <span>Notes: {{ journal.notes }}</span>
    <button (click)="deleteJournal(journal.id)">Delete</button>
  </li>
</ul>
