mat-tab-nav-panel{
    justify-content: space-between;
    display: flex;   
    gap: 4rem;
    padding-left: 2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;  
   
}
a{
    display: flex;
    margin: 8px 8px 8px 0;   
    
    width: 200px;    
    background-color: rgb(55, 85, 68);
    font-style: normal;
}
