<h2>
  Hey Gardener! Here are your plants:
</h2>
<ul>
  @if (plants$ | async; as plants) {
    <table>
    @for (plant of plants; track plant.id) {
  <tr>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{plant.commonName}}</mat-card-title>
            <mat-card-subtitle>{{plant.scientificName}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{plant.imageURL}} alt="">
          <mat-card-content>
            <p>
              @if(!plant.vegetable){
            <p>this is no veggie</p>
              }@else {
            <p>Veggie!</p>
              }
              
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>



        <!--Refactor this code to make all the calls on the back end so this code isn't a nightmare-->
        <!--Refactor this code to make all the calls on the back end so this code isn't a nightmare-->

  </tr>
  }
</table>
  }
  
