<h2>
  Hey Gardener! Here are your plants:
</h2>
<ul>
  @if (plants$ | async; as plants) {
    <table border="1">
    <th>Plant Name</th><th>Available Seeds</th><th>Scientific Name</th><th>Vegetable?</th><th>Image</th>
    @for (plant of plants; track plant.id) {
  <tr>
        <td>{{ plant.plantName }}</td>
        <td>{{ plant.quantity }}
          <button (click)="increment(plant)" >➕</button>
          <button (click)="decrement(plant)" >➖</button>
        </td>
        <td>{{ plant.scientificName }}</td>
        @if (plant.vegetable == true) {
          <td>Yes</td>
        }
        @else {
          <td>No</td>
        }
        <td><img src={{plant.imageURL}}></td>





        <!--Refactor this code to make all the calls on the back end so this code isn't a nightmare-->
        <!--Refactor this code to make all the calls on the back end so this code isn't a nightmare-->

  </tr>
  }
</table>
  }

