<h1>Let's update this space.</h1>
<p>You are currently in <b>Plot {{ plotItem?.plotId }}</b>.</p>
<p>This is space <b>Number {{ plotItem?.plotSpace }}</b> in your garden.</p>
<p>This space currently contains <b>{{ plotItem.plantName }}</b>. </p>

<h2>Select a new plant for this space:</h2>
<mat-form-field>
<mat-label>Available Plants</mat-label>
<mat-select [(value)]="selectVal">
<mat-option *ngFor="let plant of plants" [value]="plant.id">{{plant.plantName}}</mat-option>
</mat-select>
</mat-form-field>
<br>
<button (click)="updatePlot()">🌱 PLANT IT 🌱</button>