<form (ngSubmit)="addEntry()">

    <h3>Submit a Journal Entry</h3>
      <div>
        <label>Date: </label>
        <input type="date" id="date" [(ngModel)]="date" name="date" required>
      </div>

    <div>
        <label for="gardener">Gardener </label>
        <input type="text" id="gardener" [(ngModel)]="gardener" name="gardener" required>
    </div>

    <div>
        <label for="notes">Notes </label>
        <textarea id="notes" rows="5" [(ngModel)]="notes" name="notes" required></textarea>
    </div>

    <button type="submit">Save Entry 📒</button>

</form>

